@page "/categories"
@using AlbyOnContaines.ProductDataManager.Components.Shared

<PageTitle>Categories</PageTitle>
<MudText Typo="Typo.h3" GutterBottom="true">Categories</MudText>

<MudPaper Class="w-100 mb-2" Elevation="0">
    <div class="d-flex mb-2">
        <MudButton OnClick="@(() => OpenCreateCategoryDialog())" Color="Color.Primary" Variant="Variant.Text" EndIcon="@Icons.Material.Outlined.AddCircleOutline" Class="me-auto">
            Add Category
        </MudButton>
    
        <MudButton OnClick="CollapseAll" Color="Color.Dark" Variant="Variant.Text" EndIcon="@Icons.Material.Outlined.Compress" Class="me-2">
            Collapse All
        </MudButton>
    
        <MudButton OnClick="ExpandAll" Color="Color.Primary" Variant="Variant.Text" EndIcon="@Icons.Material.Outlined.Expand">
            Expand All
        </MudButton>
    </div>
</MudPaper>

<MudPaper Class="w-100" Elevation="0">
    <MudTextField T="string" Label="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Outlined.Search" TextChanged="OnTextChanged" Immediate="false" Clearable="true"/>
    <MudTreeView @ref="_treeView" Items="@_items" FilterFunc="MatchesName" Class="w-100">
        <ItemTemplate Context="context">
            <MudTreeViewItem
                Value="@context.Value"
                Items="@context.Children"
                @bind-Expanded="@context.Expanded"
                CanExpand="@context.Expandable"
                LoadingIconColor="Color.Info">
                <BodyContent Context="item">
                    @if (item.Value!.HasChildren)
                    {
                        <EditDisplay 
                            Create="@(() => OpenCreateCategoryDialog(item.Value!.Id))"
                            Edit="@(() => OpenEditCategoryDialog(item.Value!))">
                            <MudText><strong>@item.Value!.Name@(!string.IsNullOrEmpty(item.Value!.Description) ? ":" : "")</strong></MudText>
                                <MudText>@item.Value!.Description</MudText>
                        </EditDisplay>
                    }
                    else
                    {
                        <EditDisplay
                            Create="@(() => OpenCreateCategoryDialog(item.Value!.Id))"
                            Edit="@(() => OpenEditCategoryDialog(item.Value!))"
                            Delete="@(() => OpenDeleteCategoryDialog(item.Value!))">
                            <div style="display: flex; flex-direction: row; align-items: center">
                                <MudText><strong>@item.Value!.Name@(!string.IsNullOrEmpty(item.Value!.Description) ? ":" : "")</strong></MudText>
                                <MudText>@item.Value!.Description</MudText>
                            </div>
                        </EditDisplay>
                    }
                </BodyContent>
            </MudTreeViewItem>
        </ItemTemplate>
    </MudTreeView>
</MudPaper>